@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Light.otf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Thin.otf');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Bold.otf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Rosa Marena';
	src: url('../fonts/rosa_marena.ttf');
}

.clear {
	clear: both;
}

.clear-right {
	clear: right;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'HelveticaNeueCyr', Tahoma, sans-serif;
}

div {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
}

h1 {
	margin: 0;
	font-size: 30px;
	font-weight: 100;
}

h2 {
	font-size: 17px;
	font-weight: 100;
}

.wrap {
	min-width: 1366px;
	width: 100%;
}

header {
	text-align: center;
}

.logo {
	margin: 27px 0 16px;
}


.menu {
	background: #48484a;
	height: 45px;
}

.menu-content {
	width: 980px;
	margin: auto;
	color: #ffffff;
	font-size: 17px;
	font-weight: 100;
}

.menu ul {
	margin: 0;
}

.menu ul li {
	display: inline-block;
	padding: 5px 35px 5px 0;
}

ul.left {
	float: left;
	margin-top: 4px;
}

.right {
	float: right;
	margin-top: 2px;
}

.cart span {
	border: 1px solid #ffffff;
	border-radius: 50px;
	background: #ee2b7c;
	padding: 2px 6px;
	font-size: 12px;
	display: block;
	position: absolute;
	margin-left: -8px;
}

input.search {
	background: #626366;
	border: none;
	border-radius: 5px;
	width: 178px;
	height: 28px;
	color: #ffffff;
	font-size: 17px;
	font-weight: 300;
	padding-left: 14px;
}

input.search::-webkit-input-placeholder { color: #ffffff; }
input.search::-moz-placeholder { color: #ffffff; }

/**MAIN**/

.photo img {
	width: 100%;
	margin: 0;
	padding: 0;
}

.text {
	text-align: center;
	font: 50px 'Rosa Marena';
}

.blocks {
	text-align: center;
	background: linear-gradient(#fff, #626366);

}

.block {
	display: inline-block;
	padding: 0 18px 0;
}

.block a {
	color: #ffffff;
	font-size: 17px;
	font-weight: 100;
	text-decoration: none;
}

.photo-text {
	margin: 20px auto;
}

.photo-text .line-left {
	float: left;
	width: 49%;
}

.photo-text .line-right {
	float: right;
	width: 49%;
	text-align: right;
}

.photo-text p {
	color: #464647;
	font-size: 16px;
	font-weight: 300;
	padding: 150px;
	text-align: left;
}

span.large {
	font-size: 36px;
}

.dark-text {
	background: #48484a;
	padding: 134px;
}

.dark-text p {
	text-align: center;
	width: 400px;
	margin: auto;
	color: #ffffff;
	font-size: 16px;
	font-weight: 100;
	padding: 10px;
}

.dark-text p.large {
	font-size: 26px;
	width: 523px;
}

.dark-text button {
	text-align: center;
	width: 273px;
	height: 43px;
	margin: auto;
}

.dark-text button {
	background: #ffffff;
	color: #231f20;
	border: none;
	font-size: 15px;
	font-weight: 700;
	margin: 30px;
}

.light-text {
	padding: 25px;
	text-align: center;
	color: #464647;
	font-size: 16px;
	font-weight: 300;
}

.light-text p {
	padding: 25px;
	text-align: left;
	width: 1080px;
	margin: auto;
}

.light-text ul {
	display: inline-block;
	text-align: left;
	padding: 0 90px;
}

.light-text li {
	padding-bottom: 5px;
	list-style: none;
}

.empty {
	background: #48484a;
	height: 36px;
}

.feed {
	box-sizing: border-box;
	width: 100%;
	background: #5c5d60;
	padding: 10px 30px;
}

.feed div {
	display: inline-block;
}

.social p {
	color: #ffffff;
	font-size: 19px;
	font-weight: 300;
}

.recall {
	float: right;
}

.recall p {
	color: #ffffff;
	font-size: 19px;
	font-weight: 300;
}

.recall input {
	background: #bcbec0;
	border-radius: 5px;
	border: none;
	width: 214px;
	height: 37px;
	color: #464647;
	font-size: 15px;
	font-weight: 300;
	padding-left: 32px;
	margin-right: 20px;
}

.recall input::-webkit-input-placeholder { color: #464647; }
.recall input::-moz-placeholder { color: #464647; }

.recall input:first-child {
	background: url(../img/name.png) no-repeat 7px 9px #bcbec0;
}

.recall input:nth-child(2) {
	background: url(../img/phone.png) no-repeat 7px 9px #bcbec0;
}

.recall button {
	background: #48484a;
	border-radius: 5px;
	border: none;
	width: 214px;
	height: 37px;
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
}

.links {
	background: #48484a;
	display: table;
	width: 100%;
}

.links ul {
	box-sizing: border-box;
	display: table-cell;
	width: 33%;
	list-style: none;
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
	padding: 30px;
}

.links ul li {
	padding-bottom: 10px;
}

.links ul li img {
	padding-right: 10px;
}

.pay {
	background: #5c5d60;
	padding: 10px 30px 60px;
}

/**CATALOG**/

.catalog-menu {
	background: #dcddde;
	text-align: center;
}

.catalog-menu ul li {
	display: inline-block;
	padding: 5px 32px 15px;
}

.catalog-menu img {
	margin-right: 10px;
}

.breadcrumbs {
	margin: 20px;
}

.title-block {
	box-sizing: border-box;
	background: #48484a;
	width: 200px;
	margin: 20px 20px 0;
	padding: 7px;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-weight: 100;
}

.float-block {
	box-sizing: border-box;
	float: left;
	margin: 20px 0 0 20px;
	/*width: 200px;*/
}

.country {
	display: block;
	box-sizing: border-box;
	width: 200px;
	position: absolute;
	text-align: center;
	color: #98989d;
	font-size: 14px;
	font-weight: 300;
	margin: -30px 0;
}

.title {
	box-sizing: border-box;
	border: 1px solid #e6e7e8;
	background: #e6e7e8;
	width: 200px;
	padding: 10px 20px;
	color: #252525;
	font-size: 17px;
	font-weight: 100;
}

.title .arrow {
	float: right;
	margin-top: 5px;
	background: url("../img/arrow-down.png") no-repeat center;
	width: 17px;
	height: 17px;
}

.title.close {
	background: #ffffff;
}

.title.close .arrow {
	background: url("../img/arrow-right.png") no-repeat center;
}

.content {
	box-sizing: border-box;
	width: 200px;
	border: 1px solid #e6e7e8;
	padding: 20px 20px 0;
	overflow: hidden;
}

.content div {
	float: left;
	margin: 0 7px 20px 0;
}

.content ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.content ul li {
	padding-bottom: 20px;
}

.content span {
	display: block;
	font-size: 14px;
	margin: 0 8px 20px 0;
}

.content img.line {
	/*margin-top: 5px;*/
	padding: 4px;
	border: 1px solid #e6e7e8;
	border-radius: 50px;
}

.content .line {
	float: left;
}

.text-block {
	margin: 20px;
}

/**COLLECTION**/

.float-block ul {
	display: inline-block;
	font-size: 14px;
	list-style: none;
	padding: 0 60px 0 0;
}

.float-block ul li{
	padding-bottom: 10px;
}

.float-block.text--block {
	width: calc(100% - 250px);
}

.table {
	display: table;
}

.table ul {
	display: table-cell;
}

.name {
	display: block;
	box-sizing: border-box;
	width: 200px;
	position: relative;
	text-align: right;
	color: #231f20;
	font-size: 14px;
	font-weight: 300;
	margin: 5px -5px;
}

.name span {
	font-size: 20px;
	font-weight: 700;
}

.label {
	background: #ffffff;
	border-radius: 100px;
	width: 100px;
	height: 100px;
	position: absolute;
	margin: 50px 110px;
}

.label p {
	margin-top: 25px;
	text-align: center;
	font-size: 17px;
	font-weight: 300;
}


.label span {
	font-size: 31px;
}