@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('//fonts/HelveticaNeueCyr-Light.otf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('//fonts/HelveticaNeueCyr-Thin.otf');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('//fonts/HelveticaNeueCyr-Bold.otf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Rosa Marena';
	src: url('//fonts/rosa_marena.ttf');
}

.clear {
	clear: both;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'HelveticaNeueCyr', Tahoma, sans-serif;

}

div {
	margin: 0;
	padding: 0;
}

img {
	margin: 0;
	padding: 0;
}

.wrap {
	min-width: 1366px;
	width: 100%;
}

header {
	text-align: center;
}

.logo {
	padding: 27px 0 16px;
}


.menu {
	background: #48484a;
	height: 45px;
}

.menu-content {
	width: 980px;
	margin: auto;
	color: #ffffff;
	font-size: 17px;
	font-weight: 100;
}

.menu ul li {
	display: inline-block;
	padding: 0 35px 0 0;
}

.left {
	float: left;
	margin-top: 7px;
}

.right {
	float: right;
	margin-top: 2px;
}

input.search {
	background: #626366;
	border: none;
	border-radius: 5px;
	width: 178px;
	height: 28px;
	color: #ffffff;
	font-size: 17px;
	font-weight: 300;
	padding-left: 14px;
}

input.search::-webkit-input-placeholder { color: #ffffff; }
input.search::-moz-placeholder { color: #ffffff; }

.photo img {
	width: 100%;
	margin: 0;
	padding: 0;
}

.text {
	text-align: center;
	font: 50px 'Rosa Marena';
}

.blocks {
	text-align: center;
	background: linear-gradient(#fff, #626366);

}

.block {
	display: inline-block;
	padding: 0 18px 0;
}

.block a {
	color: #ffffff;
	font-size: 17px;
	font-weight: 100;
	text-decoration: none;
}

.photo-text {
	margin: auto;
}

.photo-text .line-left {
	float: left;
	width: 49%;
}

.photo-text .line-right {
	float: right;
	width: 49%;
	text-align: right;
}

.photo-text p {
	color: #464647;
	font-size: 16px;
	font-weight: 300;
	padding: 150px;
	text-align: left;
}

span.large {
	font-size: 36px;
}

.dark-text {
	background: #48484a;
	padding: 134px;
}

.dark-text p {
	text-align: center;
	width: 400px;
	margin: auto;
	color: #ffffff;
	font-size: 16px;
	font-weight: 100;
	padding: 10px;
}

.dark-text p.large {
	font-size: 26px;
	width: 523px;
}

.dark-text button {
	text-align: center;
	width: 273px;
	height: 43px;
	margin: auto;
}

.dark-text button {
	background: #ffffff;
	color: #231f20;
	border: none;
	font-size: 15px;
	font-weight: 700;
	margin: 30px;
}

.light-text {
	padding: 25px;
	text-align: center;
	color: #464647;
	font-size: 16px;
	font-weight: 300;
}

.light-text p {
	padding: 25px;
	text-align: left;
	width: 1080px;
	margin: auto;
}

.light-text ul {
	display: inline-block;
	text-align: left;
	padding: 0 90px;
}

.light-text li {
	padding-bottom: 5px;
	list-style: none;
}

.feed {
	box-sizing: border-box;
	/*position: absolute;*/
	width: 100%;
	margin-top: 36px;
	background: #5c5d60;
	padding: 10px 30px;
}

.feed div {
	display: inline-block;
}

.social p {
	color: #ffffff;
	font-size: 19px;
	font-weight: 300;
}

.recall {
	float: right;
}

.recall p {
	color: #ffffff;
	font-size: 19px;
	font-weight: 300;
}

.recall input {
	background: #bcbec0;
	border-radius: 5px;
	border: none;
	width: 214px;
	height: 37px;
	color: #464647;
	font-size: 15px;
	font-weight: 300;
	padding-left: 32px;
	margin-right: 20px;
}

.recall input::-webkit-input-placeholder { color: #464647; }
.recall input::-moz-placeholder { color: #464647; }

.recall input:first-child {
	background: url(../img/name.png) no-repeat 7px 9px #bcbec0;
}

.recall input:nth-child(2) {
	background: url(../img/phone.png) no-repeat 7px 9px #bcbec0;
}

.recall button {
	background: #48484a;
	border-radius: 5px;
	border: none;
	width: 214px;
	height: 37px;
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
}

.links {
	background: #48484a;
	display: table;
	width: 100%;
}

.links ul {
	box-sizing: border-box;
	display: table-cell;
	width: 33%;
	list-style: none;
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
	padding: 30px;
}

.links ul li {
	padding-bottom: 10px;
}

.links ul li img {
	padding-right: 10px;
}

.pay {
	background: #5c5d60;
	padding: 10px 30px;
}